<div class="w-full h-[calc(100dvh-64px)] overflow-hidden">
    <div class="h-full overflow-y-auto">
        <ng-container [ngSwitch]="jornada">
            <ng-container *ngSwitchCase="'home'" [ngTemplateOutlet]="home"></ng-container>
            <ng-container *ngSwitchCase="'gerador'" [ngTemplateOutlet]="gerador"></ng-container>
            <ng-container *ngSwitchCase="'conta'" [ngTemplateOutlet]="conta"></ng-container>
            <ng-container *ngSwitchCase="'carrinho'" [ngTemplateOutlet]="carrinho"></ng-container>
        </ng-container>
    </div>

    <app-menu-inferior [quantidadeCarrinho]="quantidadeCarrinho" (jornadaEscolhida)="atualizarJornada($event)">
    </app-menu-inferior>
</div>

<ng-template #home>
    <app-home></app-home>
</ng-template>

<ng-template #gerador>
    <app-gerador-ia></app-gerador-ia>
</ng-template>

<ng-template #carrinho>
    <app-carrinho></app-carrinho>
</ng-template>

<ng-template #conta>
    <app-conta></app-conta>
</ng-template>