<div class="w-full flex flex-col h-full justify-between gap-8">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <button (click)="voltarParaIntroducao()">
                <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path></svg>
            </button>
        </div>
        <div class="navbar-center">
            <h1 class="text-xl font-bold">Gerador de Imagem</h1>
        </div>
        <div class="navbar-end">
          
        </div>
    </div>
    <div class="flex flex-col gap-8 flex-auto">
        <div class="flex flex-col gap-1 flex-auto">
            <div class="flex flex-row justify-between">
                <h2 class="w-full text-sm font-semibold">Descreva como gostaria sua estampa:</h2>
                <span class="badge badge-warning">Obrigatório</span>
            </div>
            <textarea (keyup)="validarTexto($event)" maxlength="1000" class="textarea textarea-bordered h-32 w-full flex-auto">{{textoPrompt}}</textarea>
            <div class="flex flex-row justify-between">
                <div class="flex flex-row gap-1">
                    <input type="checkbox" [checked]="precisaAprimorar" (change)="precisaAprimorar = !precisaAprimorar" class="checkbox checkbox-primary checkbox-xs" />
                    <h2 class="w-full text-xs font-semibold">Aprimorar descrição com IA</h2>
                </div>
                <h3 class="text-xs">{{textoPrompt.length}} / 1000</h3>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <h2 class="w-full text-sm font-semibold">Escolha tags para compor a estampa:</h2>
                <span class="badge badge-info">Opcional</span>
            </div>
            <div class="flex flex-col justify-between items-center h-48 bg-base-200 rounded-md p-2">
                <div class="flex flex-row flex-wrap gap-2 w-full overflow-auto font-bold">
                    <button (click)="removerHashtag(i)" *ngFor="let hashtag of hashtags; index as i" class="btn btn-sm btn-primary btn-outline">
                        #{{hashtag}}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-4 w-4 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path></svg>
                    </button>
                </div>
                <label class="input input-ghost flex items-center gap-2 w-full">
                    #
                    <input [value]="hashtagDigitada" (keyup)="validarHashtag($event)" type="text" class="bg-transparent grow" placeholder="Digite aqui suas tags..." />
                    <button (click)="adicionarHashtag()" class="btn btn-sm btn-ghost font-extrabold text-2xl" [disabled]="!hashtagDigitada">+</button>
                </label>
            </div>
        </div>
        <div class="flex flex-row gap-2 items-end">
            <div class="flex flex-col basis-1/2">
                <h2 class="w-full text-sm font-semibold">Resolução</h2>
                <select class="select select-bordered w-full" (change)="selecionarTamanho($event)">
                    <option *ngFor="let tamanho of tamanhosDisponiveis" [value]="tamanho?.aspectRatio">{{tamanho?.aspectRatio + " (" + tamanho?.width + " x " + tamanho?.height + ")"}}</option>
                </select>
            </div>
            <div class="flex flex-col basis-1/2">
                <button class="btn" onclick="modal_opcoes_avancadas.showModal()">Mais opções</button>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-4">
        <button (click)="irParaProcessamento()" [ngClass]="textoPrompt ? 'bg-gradient-to-r from-primary to-secondary text-base text-primary-content' : ''" class="btn font-semibold w-full" [disabled]="!textoPrompt">        
            Gerar imagem
        </button>
    </div>
</div>

<dialog id="modal_opcoes_avancadas" class="modal modal-bottom">
    <div class="modal-box flex flex-col gap-4">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        
        <div class="flex flex-col gap-1">
            <h2 class="w-full text-sm font-semibold">Modelo</h2>
            <select class="select select-bordered w-full" (change)="selecionarModelo($event)">
                <option *ngFor="let modelo of modelosDisponiveis" [value]="modelo?.modelId">{{modelo?.modelDisplay}}</option>
            </select>
        </div>
        
        <div class="flex flex-col gap-1">
            <h2 class="w-full text-sm font-semibold">Número de imagens por lote</h2>
            <div class="join w-full">
                <input 
                    *ngFor="let numQtde of [1,2,3,4]" 
                    (change)="selecionarQtdeImagens($event)" 
                    class="join-item btn basis-1/4" 
                    type="radio" name="lote" 
                    [attr.aria-label]="numQtde" 
                    [checked]="qtdeImagens == numQtde ? 'checked' : ''" 
                    [disabled]="maxQtdeImagens < numQtde"
                />
            </div>
        </div>

        <div class="flex flex-col gap-1">
            <h2 class="w-full text-sm font-semibold">Qualidade da imagem</h2>
            <input type="range" min="1" max="60" [value]="numEtapas" (change)="atualizarNumEtapas($event)" class="range range-primary" />
            <div class="flex w-full justify-between px-2 text-xs">
                <span>Simples</span>
                <span>Detalhada</span>
            </div>
        </div>

        <div class="flex flex-col gap-1">
            <h2 class="w-full text-sm font-semibold">Fidelidade a sua descrição</h2>
            <input type="range" min="1" max="30" value="4.5" class="range range-primary" />
            <div class="flex w-full justify-between px-2 text-xs">
                <span>Pouco fiel</span>
                <span>Muito fiel</span>
            </div>
        </div>
    </div>
</dialog>