<div class="flex flex-col gap-3">
    <div class="overflow-hidden overflow-x-auto">
        <div class="join gap-3">
            <input class="btn" type="radio" name="options" aria-label="Tudo" checked/>
            <input class="btn" type="radio" name="options" aria-label="Camiseta" />
            <input class="btn" type="radio" name="options" aria-label="Jaqueta" />
            <input class="btn" type="radio" name="options" aria-label="Blusa" />
        </div>
    </div>

    <div class="flex justify-between">
        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" width="640" height="896" [ngSrc]="mockupUrl" alt="Camiseta"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" width="640" height="896" [ngSrc]="mockupUrl" alt="Camiseta"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-between">
        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" width="640" height="896" [ngSrc]="mockupUrl" alt="Camiseta"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" width="640" height="896" [ngSrc]="mockupUrl" alt="Camiseta"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>