<div class="flex flex-col gap-3">
    <div class="overflow-hidden overflow-x-auto">
        <div class="join gap-3">
            <input class="btn" type="radio" name="options" aria-label="Tudo" checked/>
            <input class="btn" type="radio" name="options" aria-label="Camiseta" />
            <input class="btn" type="radio" name="options" aria-label="Jaqueta" />
            <input class="btn" type="radio" name="options" aria-label="Blusa" />
        </div>
    </div>

    <div class="flex justify-between">
        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl hover:glass">
                <figure><img class="aspect-square object-cover object-top" src="https://images.unsplash.com/photo-1627225925683-1da7021732ea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHQlMjBzaGlydHxlbnwwfDF8MHx8fDI%3D" alt="Shoes" loading="lazy"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" src="https://images.unsplash.com/photo-1554568218-0f1715e72254?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dCUyMHNoaXJ0fGVufDB8MXwwfHx8Mg%3D%3D" alt="Shoes" loading="lazy"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-between">
        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" src="https://images.unsplash.com/photo-1616006897093-5e4635c0de35?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlMjBzaGlydHxlbnwwfDF8MHx8fDI%3D" alt="Shoes" loading="lazy"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <div class="w-1/2 p-2">
            <div class="card bg-base-100 shadow-xl">
                <figure><img class="aspect-square object-cover object-top" src="https://images.unsplash.com/photo-1551799517-eb8f03cb5e6a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHQlMjBzaGlydHxlbnwwfDF8MHx8fDI%3D" alt="Shoes" loading="lazy"/></figure>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>